html {
  scroll-behavior: smooth;
  font-size: 92%;
}

@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter-Bold.ttf");
  font-display: swap;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", segoe UI, sans-serif;
}
