html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter-Bold.ttf");
  font-display: swap;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", segoe UI, sans-serif;
}

body {
  font-size: 1.6rem;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.primary-color {
  color: #ef2c5a;
}
.grey {
  color: #565c69;
}

.vertical-margin {
  &-small {
    margin: 1.2rem 0;
  }

  &-medium {
    margin: 1.6rem 0;
  }

  &-large {
    margin: 2.4rem 0;
  }

  &-xl {
    margin: 3.6rem 0;
  }
}

.margin-top {
  &-small {
    margin-top: 1.2rem;
  }

  &-medium {
    margin-top: 1.6rem;
  }

  &-large {
    margin-top: 2.4rem;
  }

  &-xl {
    margin-top: 3.6rem;
  }
}

.margin-bottom {
  &-small {
    margin-bottom: 1.2rem;
  }

  &-medium {
    margin-bottom: 1.6rem;
  }

  &-large {
    margin-bottom: 2.4rem;
  }

  &-xl {
    margin-bottom: 3.6rem;
  }
}

.margin-left {
  &-small {
    margin-left: 1.2rem;
  }

  &-medium {
    margin-left: 1.6rem;
  }

  &-large {
    margin-left: 2.4rem;
  }

  &-xl {
    margin-left: 3.6rem;
  }
}

.margin-right {
  &-small {
    margin-right: 1.2rem;
  }

  &-medium {
    margin-right: 1.6rem;
  }

  &-large {
    margin-right: 2.4rem;
  }

  &-xl {
    margin-right: 3.6rem;
  }
}

.flex {
  display: flex;
  &.column {
    flex-direction: column;
    &.spaced > * {
      margin: 0;
      margin-top: 0.6rem;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  &.between {
    justify-content: space-between;
  }
  &.around {
    justify-content: space-around;
  }
  &.evenly {
    justify-content: space-evenly;
  }
  &.end {
    justify-content: flex-end;
  }
  &.center {
    justify-content: center;
  }
  &.center-align {
    align-items: center;
  }

  &.end-align {
    align-items: flex-end;
  }
  &.spaced > * {
    margin: 0;
    margin-left: 1.2rem;
    &:first-child {
      margin-left: 0;
    }
  }
  &.spaced-lg > * {
    margin-left: 1.2rem;
    &:first-child {
      margin-left: 0;
    }
  }
  &.spaced-xl > * {
    margin-left: 2.4rem;
    &:first-child {
      margin-left: 0;
    }
  }
  &.wrap {
    flex-wrap: wrap;
  }
  & .flex-one {
    flex: 1;
  }
}

.generic-icon {
  height: 1.8rem;
  width: auto;
  &.small {
    height: 0.8rem;
  }
  &.medium {
    height: 1.5rem;
  }
  &.large {
    height: 2rem;
  }
}

.text-small {
  font-size: 1.4rem;
}

.text-medium {
  font-size: 1.6rem;
}

.text-large {
  font-size: 2.4rem;
}

.text-xl {
  font-size: 4.8rem;
}
