.app-layout {
  display: flex;
  .logo {
    margin-bottom: 2rem;
  }

  .side-nav {
    padding: 4rem;
    width: 28rem;
    min-height: 100vh;
    background-color: #fffbf7;
    position: fixed;
    top: 0;
    left: 0rem;
    transition: 0.3s ease-out;

    &.collapse {
      transform: translateX(-21rem);
    }

    .title {
      color: #8d8d8d;
      margin-bottom: 1.6rem;
      margin-top: 3rem;
    }

    .links {
      & > * {
        margin-bottom: 1.6rem;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .link {
        color: #0a0a0a;
        display: flex;
        align-items: center;

        &.active {
          color: #ef2c5a;
        }

        &:hover {
          color: #ef2c5a;
        }
      }
    }
  }

  .right-btn {
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    opacity: 0;
    z-index: -1;
    background: transparent;
    border: none;

    &.active {
      opacity: 1;
      z-index: 1;
    }

    .right-arrow {
      transform: rotate(270deg);
      height: 1rem;
    }
  }

  .support-btn {
    border-radius: 4rem;
    margin-top: 4rem;
  }

  .left-arrow {
    transform: rotate(90deg);
  }

  .main {
    width: 100%;
    margin-left: 28.5rem;
    transition: 0.3s ease-out;
    min-height: 100vh;

    &.collapse {
      margin-left: 7rem;
    }
  }

  .top-nav {
    display: flex;
    padding: 1.6rem;
    border-bottom: 0.1rem solid #ededed;
    .avartar {
      height: 3.2rem;
      width: 3.2rem;
    }

    .left {
      margin-left: auto;
    }
  }

  .main-content {
    margin-top: 10rem;
    padding: 0 3.2rem;
  }
}
