.app-layout {
  display: flex;
  .logo {
    margin-bottom: 2rem;
  }

  .side-nav {
    padding: 4rem;
    width: 28rem;
    min-height: 100vh;
    background-color: #fffbf7;
    position: fixed;
    top: 0;
    left: 0rem;
    transition: 0.3s ease-out;

    &.collapse {
      transform: translateX(-21rem);
    }

    .title {
      color: #8d8d8d;
      margin-bottom: 1.6rem;
      margin-top: 3rem;
    }

    .links {
      & > * {
        margin-bottom: 1.6rem;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .link {
        color: #0a0a0a;
        display: flex;
        align-items: center;

        &.active {
          color: #ef2c5a;
        }

        &:hover {
          color: #ef2c5a;
        }
      }
    }
  }
}
