.sales-overview {
  display: grid;
  grid-template-columns: repeat(4, minmax(20rem, 1fr));
  grid-template-rows: repeat(1, 26rem);
  grid-gap: 1rem;
  margin-top: 1rem;
  grid-auto-rows: 1fr;

  .overview-card {
    border: 0.2rem solid #000000;
    border-radius: 0.8rem;
    padding: 2.4rem;

    &.dark {
      background: #000000;
      color: #ffffff;
    }

    .value {
      font-size: 2rem;
    }

    .bottom {
      margin-top: auto;
    }
  }
}
